@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section One */
.section-one {
    background-image: url('assets/images/bg-section-one.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1070px;
}

.section-one .container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 22px;
}

.section-one .container .title-navbar {
    color: #FFF;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 30px;
    padding-top: 15px;
}

.section-one .content { 
    margin-top: 120px; 
    text-align: center;  
}

.section-one .content .title {
    color: #FFF;
    font-size: 55px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.section-one .content .sub-title {
    color: #C9FFDE;
    font-size: 55px;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    text-shadow: -1.7px -1.7px 0 #08844C, 1.7px -1.7px 0 #08844C, -1.7px 1.7px 0 #08844C, 1.7px 1.7px 0 #08844C; 
}

.section-one .content .ket-title {
    color: #FFF;
    font-size: 32px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
}
/* Section One End */

/* Section Card */

.wrap {    
    margin-top: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .card {
    background-color: #DFFFF1;
    border-radius: 20px;
    margin: 0px 10px 100px 10px;             
}

.wrap .card img {
    width: 281px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.img-card {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.wrap .card .title {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 24px;
}

.wrap .card .title-card {
    color: #16A34A;
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;      
}

.wrap .card .ket {
    color: #7D7987;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    font-weight: 100;    
}

.wrap .card .title-card, .ket {
    
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 30px;
}

.wrap .card a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;    
}

.wrap .card a button {
    background-color: #16A34A;
    border: none;
    border-radius: 10px;
    width: 198px;
    height: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
    /* Section Card End */

/* Footer */

.footer .card {
    background-color: #08844C;
    color: #FFF;
    font-family: "Mulish", sans-serif;
    border: none;
    border-radius: 20px;
}

.footer .card .row {
    margin: 44px 0px 44px 0px;
}

.footer .card .col-1 img {
    width: 40px;
    float: right;
}

.footer .card .title {
    padding-top: 5px;
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}

.footer .card .ket-footer {
    font-size: 18px;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    width: 700px;
}

.medsos {
    padding-top: 29px;
}

.medsos p {
    text-align: end;    
    padding: 0px 50px 0px 0px;
    font-size: 18px;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
}

.medsos .icon-medsos {
    float: right;
    padding: 0px 50px 0px 0px;
}

.icon-medsos img {
    cursor: pointer;
    margin-left: 10px;
}

.copyright {
    text-align: center;
    margin: 33px 0px 69px 0px;
    color: #7D7987;
    font-size: 16px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
}
/* Footer End */

@media (max-width: 768px) {

    /* Section One */
    
    .section-one .container {        
        margin-top: 24px;
        gap: 2px;
    }

    .section-one .container .title-navbar {        
        font-size: 18px;        
        line-height: 19px;
        padding-top: 15px;
    }
    
    .section-one .content { 
        margin-top: 100px; 
        text-align: center;  
    }
    
    .section-one .content .title {        
        font-size: 30px;
        
        letter-spacing: 1px;
    }
    
    .section-one .content .sub-title {        
        font-size: 38px;        
    }
    
    .section-one .content .ket-title {        
        font-size: 24px;        
    }
    /* Section One End */

    /* Section Card */
    .wrap {    
        margin-top: -230px;        
    }
    
    .wrap .card {        
        margin: 0px 10px 100px 10px;             
    }
    
    .wrap .card img {
        width: 181px;        
        padding-top: 40px;
    }        
    
    .wrap .card .title {        
        font-size: 12px;
        margin: 7px 0px 18px 0px;                
    }
    
    .wrap .card .title-card {        
        font-size: 18px;        
    }
    
    .wrap .card .ket {
        margin-top: -15px;        
        font-size: 12px;        
        width: 320px;
        line-height: 21px;    
    }
    
    .wrap .card a button {                
        width: 158px;
        height: 38px;        
        font-size: 12px;        
        margin-bottom: 35px;
    }    
    /* Section Card End */

    /* Section Footer */    
    
    .footer .card .row {
        margin: 30px 0px 49px 0px;
    }
    
    .footer .card .col-1 img {
        width: 30px;
        float: left;

    }
    
    .footer .card .title {
        padding: 5px 0px 0px 10px;
        font-size: 12px;
                
    }
    
    .footer .card .ket-footer {
        font-size: 12px;
        padding: 0px 0px 0px 10px;
        margin-top: -15px;
        width: 300px;        
    }
    
    .medsos {
        padding-top: 2px;
        position: absolute;
        right: 0;
        padding-top: 50px;
    }
    
    .medsos p {
        text-align: end;    
        padding: 10px 0px 0px 0px;
        font-size: 14px;
        margin-top: 46px;
        /* margin-top: 30px;         */
    }
    
    .medsos .icon-medsos {
        float: right;
        padding: 0px 0px 0px 0px;
        margin-top: -20px;                
    }
    
    .icon-medsos img {        
        margin: 0px 0px 0px 5px;
        width: 16px;        
    }

    .copyright {
        font-size: 12px;
    }
    /* Section Footer End */
}